
body{
  width: 600px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

#greetingButton {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
}
#greeting {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.2;
    margin-bottom: 10px;
  }

  #author{

    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #ee7979;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.2;
    margin-bottom: 10px;
}
/* Select */
select {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: #333;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Button */
button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3e8e41;
}
